<!doctype html>
<html>
  <head>
    <meta charset="utf-8"/>
    <script src="vue/vue.js"></script>

    <script src="jquery/jquery-3.3.1.js"></script>
    <script src="jquery-csv/jquery.csv.js"></script>

    <script src="bootstrap-4/js/bootstrap.js"></script>
    <link rel="stylesheet" href="bootstrap-4/css/bootstrap.min.css">

    <link href="c3-0.6.7/c3.css" rel="stylesheet">
    <script src="d3/d3.min.js"></script>
    <script src="c3-0.6.7/c3.min.js"></script>

    <link rel="stylesheet" href="qash.css">
  </head>

  <body>
    <div id="app" class="container">
      <div class="row">
        <div class="col">
          <h1>Qash <span class="text-muted">Personal Finance Analytics</span> <span class="badge badge-warning">PRE-ALPHA</span></h1>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div id="chart"></div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h4>Source files in local storage
          <button class="btn btn-sm btn-outline-danger" v-if="hasStoredState" @click.prevent="clear()">
            clear storage
          </span></h4>
        </div>
        <ul class="list-group">
          <li class="text-muted list-group-item d-flex justify-content-between align-items-center" v-if="!hasStoredState">
            No data in local storage.
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center" v-for="(file, index) in persistentStorage.sourceFiles">
              {{file.name}}
              <span class="badge badge-pill" :class="{'badge-success': file.type=='ing', 'badge-danger': file.type=='unknown'}">{{file.type}}</span>
              <span class="text-muted">({{file.data.length}} transactions)</span>
              <span class="badge badge-error badge-pill">
                <a @click.prevent="deleteEntry(index)" href="#">delete</a>
              </span>
          </li>
        </ul>
        <div class="card-footer">
          <form>
            <div class="dropbox">
              <input type="file" multiple :disabled="ui.input.sourceFileAdd.disabled" @change="filesChange($event.target.files)" accept=".csv" class="input-file">
              <p>Drag ING Bank .csv file(s) here to begin<br> or click to browse</p>
            </div>
          </form>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h4>Transactions</h4>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Amount</th>
              <th scope="col">Account</th>
              <th scope="col">Recipient</th>
              <th scope="col">Description</th>
              <th scope="col">Date</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(t, index) in allTransactions" v-if="index < 100">
              <td>
                <span class="badge badge-pill" v-bind:class="[t.v<0?'badge-danger':'badge-success']">
                  {{formatMoney(t.v)}}
                </span>
                <span class="badge badge-pill badge-secondary">{{t.c}}</span>
              </td>
              <td>{{t.f}}</td>
              <td>{{t.w}}<br />{{t.t}}</td>
              <td>{{t.a}}</td>
              <th scope="row" class="text-nowrap">{{new Date(t.d / 10000, (t.d % 10000 / 100) - 1, t.d % 100).toLocaleDateString('nl-NL')}}</th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <script>
    const nlLocaleDef = {
      "decimal": ",",
      "thousands": ".",
      "grouping": [3],
      "currency": ["€\u00a0", ""]
    }
    var nlLocale = d3.formatLocale(nlLocaleDef);

    const nlTimeLocaleDef = {
      "dateTime": "%a %e %B %Y %T",
      "date": "%d-%m-%Y",
      "time": "%H:%M:%S",
      "periods": ["AM", "PM"],
      "days": ["zondag", "maandag", "dinsdag", "woensdag", "donderdag", "vrijdag", "zaterdag"],
      "shortDays": ["zo", "ma", "di", "wo", "do", "vr", "za"],
      "months": ["januari", "februari", "maart", "april", "mei", "juni", "juli", "augustus", "september", "oktober", "november", "december"],
      "shortMonths": ["jan", "feb", "mrt", "apr", "mei", "jun", "jul", "aug", "sep", "okt", "nov", "dec"]
    };
    var nlTimeLocale = d3.formatLocale(nlLocaleDef);

    var app = new Vue({
      el: '#app',
      data: {
        persistentStorage: {
          sourceFiles: []
        },
        hasStoredState: localStorage.getItem('qashStorage') ? true : false,
        ui: {
          input: {
            sourceFileAdd: {
              disabled: false,
            },
          },
          charts: {
          },
        },
      },
      mounted: function() {
        if (this.hasStoredState) { this.load(); }
        this.initChart();
      },
      methods: {
        // STORAGE METHODS
        load: function() {
          if (localStorage.getItem('qashStorage')) {
            this.persistentStorage = JSON.parse(localStorage.getItem('qashStorage'));
          }
        },
        clear: function() {
          this.persistentStorage = { sourceFiles: [] };
        },
        deleteEntry: function(i) {
          this.persistentStorage.sourceFiles.splice(i,1);
        },
        addEntry: function(e) {
          this.persistentStorage.sourceFiles.push(e);
        },
        // END STORAGE METHODS

        // FILE READ METHODS
        filesChange: function(fileList) {
          if (!fileList.length) return;
          Array
            .from(Array(fileList.length).keys())
            .map(x => { this.readSingleFile(fileList[x]); });
        },
        readSingleFile: function(f) {
          if (!f) { return; }
          const reader = new FileReader();
          reader.onload = function(e) {
            if (e.target.result.slice(0,117) == '"Datum","Naam / Omschrijving","Rekening","Tegenrekening","Code","Af Bij","Bedrag (EUR)","MutatieSoort","Mededelingen"') {
              // ING
              var type = "ing";
              var raw = $.csv.toObjects(e.target.result);
              var data = raw.map(
                function(e) {
                  var r = {};
                  r.d = e['Datum'];
                  r.f = e['Rekening'];
                  r.t = e['Tegenrekening'];
                  r.w = e['Naam / Omschrijving'];
                  r.c = e['Code'];
                  r.v = parseFloat(e['Bedrag (EUR)'].replace(',', '.')) * (e['Af Bij'] == 'Af' ? -1 : 1);
                  r.a = e['Mededelingen'];

                  return r;
                });
            } else {
              // UNKNOWN FILE TYPE
              var type = "unknown";
              var data = [];
            }
            var entry = {
              name: f.name, 
              lastModified: f.lastModified, 
              data: data,
              type: type,
            };
            app.addEntry(entry);
          };
          reader.readAsText(f);
        },
        // END FILE READ METHODS

        // CHART METHODS
        initChart: function() {
          var t = []; var inb = []; var out = []; var net = [];
          var g = this.allTransactionsGroupedByMonth;
          for (var d in g) {
            t.push(d);
            inb.push(g[d].inb);
            out.push(g[d].out * 1);
            net.push(g[d].net);
          }

          var chart = c3.generate({
            data: {
              x: 'x',
              columns: [
                [].concat('x', t),
                [].concat('in', inb),
                [].concat('out', out),
                [].concat('net', net)
              ],
              types: {'in': 'bar', out: 'bar', net: 'line'},
            },
            axis: {
              x: {
                type: 'timeseries',
                tick: {
                  format: '%b \'%y'
                }
              },
              y: {
                tick: {
                  format: nlLocale.format("$,")
                }
              }
            }
          });
        },
        // END CHART METHODS

        // FORMATTING METHODS
        formatMoney: function(v) {
          return nlLocale.format("$,.2f")(v);
        }
        // END FORMATTING METHODS
      },
      computed: {
        allTransactions: function() {
          // TODO deduplication, etc.
          return [].concat.apply([], this.persistentStorage.sourceFiles.map(x => x.data));
        },
        allTransactionsGroupedByDate: function() {
          return d3.nest()
            .key(function(d) { return d.d.substr(0,4)+'-'+d.d.substr(4,2)+'-'+d.d.substr(6,2); })
            .rollup(function(v) { return {
              n: v.length,
              inb: d3.sum(v, function(d) { return Math.max(0,d.v); }),
              out: d3.sum(v, function(d) { return Math.min(0,d.v); }),
              net: d3.sum(v, function(d) { return d.v; })
            }})
            .object(this.allTransactions);
        },
        allTransactionsGroupedByMonth: function() {
          return d3.nest()
            .key(function(d) { return d.d.substr(0,4)+'-'+d.d.substr(4,2)+'-01'; })
            .rollup(function(v) { return {
              n: v.length,
              inb: d3.sum(v, function(d) { return Math.max(0,d.v); }),
              out: d3.sum(v, function(d) { return Math.min(0,d.v); }),
              net: d3.sum(v, function(d) { return d.v; })
            }})
            .object(this.allTransactions);
        },
        accounts: function() {
          return d3.nest().key(function(d) { return d.f; }).rollup(function(v) { return v.length; }).object(app.allTransactions);
        },
      },
      watch: {
        persistentStorage: {
          deep: true,
          handler: function(f) {
            if (f.sourceFiles.length > 0) {
              localStorage.setItem('qashStorage', JSON.stringify(f)) == '';
            }
            else {
              localStorage.removeItem('qashStorage');
            }
            this.hasStoredState = localStorage.getItem('qashStorage') ? true : false;
          }
        },
        allTransactionsGroupedByMonth: function(f) {
          this.initChart();
        },
      }
    });
    </script>
  </body>
</html>
