<!doctype html>
<html>
  <head>
    <meta charset="utf-8"/>
    <script src="vue/vue.js"></script>

    <script src="jquery/jquery-3.3.1.js"></script>
    <script src="jquery-csv/jquery.csv.js"></script>

    <script src="bootstrap-4/js/bootstrap.js"></script>
    <link rel="stylesheet" href="bootstrap-4/css/bootstrap.min.css">

    <link href="c3-0.6.7/c3.css" rel="stylesheet">
    <script src="d3/d3.min.js"></script>
    <script src="c3-0.6.7/c3.min.js"></script>

    <link rel="stylesheet" href="qash.css">
  </head>

  <body>
    <div id="app" class="container">
      <div class="row">
        <div class="col">
          <form>
            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between align-items-center" v-for="(file, index) in persistentStorage.sourceFiles">
                  {{file.name}} <span class="text-muted">({{file.data.length}} transactions)</span>
                  <span class="badge badge-error badge-pill">
                    <a @click.prevent="deleteEntry(index)" href="#">delete</a>
                  </span>
              </li>
            </ul>
            <div class="dropbox">
              <input type="file" multiple :disabled="ui.input.sourceFileAddDisabled" @change="filesChange($event.target.files)" accept=".csv" class="input-file">
              <p>Drag your file(s) here to begin<br> or click to browse</p>
            </div>
            <div>
              <a v-if="hasStoredState" @click.prevent="clear()" href="#">clear storage</a>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div id="chart"></div>
        </div>
      </div>
    </div>

    <script>
      var app = new Vue({
      el: '#app',
      data: {
        persistentStorage: {
          sourceFiles: []
        },
        hasStoredState: localStorage.getItem('qashStorage') ? true : false,
        ui: {
          input: {
            sourceFileAddDisabled: false,
          },
        },
      },
      mounted: function() {
        if (this.hasStoredState) { this.load(); }
      },
      methods: {
        // STORAGE METHODS
        load: function() {
          if (localStorage.getItem('qashStorage')) {
          this.persistentStorage = JSON.parse(localStorage.getItem('qashStorage'));
          }
        },
        clear: function() {
          this.persistentStorage = { sourceFiles: [] };
          localStorage.removeItem('qashStorage');
          this.updateStoredState();
        },
        deleteEntry: function(i) {
          this.persistentStorage.sourceFiles.splice(i,1);
        },
        addEntry: function(e) {
          this.persistentStorage.sourceFiles.push(e);
        },
        updateStoredState: function() {
          return this.hasStoredState = localStorage.getItem('qashStorage') ? true : false;
        },
        // END STORAGE METHODS

        // FILE READ METHODS
        filesChange: function(fileList) {
          if (!fileList.length) return;
          Array
            .from(Array(fileList.length).keys())
            .map(x => { this.readSingleFile(fileList[x]); });
        },
        readSingleFile: function(f) {
          if (!f) { return; }
          const reader = new FileReader();
          reader.onload = function(e) {
            var entry = {
              name: f.name, 
              lastModified: f.lastModified, 
              data: $.csv.toObjects(e.target.result)
            };
            app.addEntry(entry);
          };
          reader.readAsText(f);
        },
        // END FILE READ METHODS
      },
      watch: {
        persistentStorage: {
          deep: true,
          handler: function(f) {
            localStorage.setItem('qashStorage', JSON.stringify(f)) == '';
            this.updateStoredState();
          }
        }
      }
      })
    </script>
  </body>
</html>
